{% extends 'base.html.twig' %}

{% block title %}Rejestracja{% endblock %}

{% block body %}
<div class="container">
<h3>Rejestracja</h3>
    <div style="text-align: left">DANE IDENTYFIKACYJNE</div>
    <hr style="margin-top: 0.5rem">
    {{ form_start(form) }}
    <div class="form-container" style="font-size: 0.8rem">
    <fieldset>
        <div class="row mb-1">
            {{ form_label(form.is_individual_client, null, {'label_attr':{'class':'col-sm-40'}})}}
            <div class="col-sm-7">{{ form_widget(form.is_individual_client) }}</div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.name, null, {'label_attr':{'class':'col-sm-40'}})}}
            <div class="col-sm-6">{{ form_widget(form.name) }}</div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.street_name, null, {'label_attr':{'class':'col-sm-40'}})}}
            <div class="col-sm-35 no-padding-right">{{ form_widget(form.street_name) }}</div>
            <div class="col-sm-15">{{ form_widget(form.street_number) }}</div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.city, null, {'label_attr':{'class':'col-sm-40'}})}}
            <div class="col-sm-35 no-padding-right">{{ form_widget(form.city) }}</div>
            <div class="col-sm-15">{{ form_widget(form.postal_code) }}</div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.voivodeship, null, {'label_attr':{'class':'col-sm-40'}})}}
            <div class="col-sm-6">{{ form_widget(form.voivodeship) }}</div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.phone, null, {'label_attr':{'class':'col-sm-40'}})}}
            <div class="col-sm-11 no-padding-right">{{ form_widget(form.dial_code) }}</div>
            <div class="col-sm-39">{{ form_widget(form.phone) }}</div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.email, null, {'label_attr':{'class':'col-sm-40'}})}}
            <div class="col-sm-6">{{ form_widget(form.email) }}</div>
        </div>
        <div class="row mb-1">
            {{ form_label(form.pesel, null, {'label_attr':{'class':'col-sm-40'}})}}
            <div class="col-sm-6">{{ form_widget(form.pesel) }}</div>
        </div>
        <div class="row mb-1 d-none">
            {{ form_label(form.nip, null, {'label_attr':{'class':'col-sm-40'}})}}
            <div class="col-sm-6">{{ form_widget(form.nip) }}</div>
        </div>
    </fieldset>
    </div>
    <hr>
    <div class="mb-2" style="float: right;">
        <span class="cancel-btn">{{ form_widget(form.cancel, {'attr': {'class': 'btn btn-cancel btn-sm-2', 'type': 'button'}}) }}</span>
        <span class="submit-btn">{{ form_widget(form.save, {'attr': {'class': 'btn btn-save btn-sm-2', 'type': 'button'}}) }}</span>
    </div>
    {{ form_rest(form) }}
    {{ form_end(form) }}
</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
$(document).ready(function() {

    $.ajax("{{ path('ajax_voivodeships') }}", {
        type: 'POST',
        data: {},
        success: function(data, status, xhr){
            console.log(data);
            appendVoivodeships(data);
        }
    });

    function appendVoivodeships(voivodeships)
    {
        select_element = $('#client_form_voivodeship');
        select_element.empty();

        $.each(voivodeships, function(index, value){
            option_element = '<option value="'+value+'">'+value+'</option>';
            select_element.append(option_element);
        });
    }

    pesel_input = $('#client_form_pesel');
    pesel_row = pesel_input.parent().parent();

    nip_input = $('#client_form_nip');
    nip_row = nip_input.parent().parent();

    name_label = $('[for="client_form_name"]');

    client_radio_button = $('#client_form_is_individual_client_0');
    company_radio_button = $('#client_form_is_individual_client_1');

    client_radio_button.click(function(){
        pesel_row.removeClass('d-none');
        nip_row.addClass('d-none');
        name_label.text('Imię i nazwisko:');
        nip_input.removeAttr('required');
        pesel_input.attr('required','required');
    });

    company_radio_button.click(function(){
        nip_row.removeClass('d-none');
        pesel_row.addClass('d-none');
        name_label.text('Firma:');
        pesel_input.removeAttr('required');
        nip_input.attr('required','required');
    });

});
</script>
{% endblock %}