{% extends 'base.html.twig' %}

{% block title %}Panel administratora - Lista klientów{% endblock %}

{% block body %}
<div class="container">
<h3>Panel administratora - Lista klientów</h3>
{% for message in app.flashes('error') %}
    <div class="alert alert-danger">
        {{ message }}
    </div>
{% endfor %}
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Opcje</th>
    </tr>
  </thead>
  <tbody>
  {% for client in clients %}
    <tr>
      <td>{{ client.id }}</td>
      <td>{{ client.name }}</td>
      <td>
        <a class="btn btn-primary btn-sm-2" href="{{path('admin_modify',{'id':client.id})}}">Modyfikuj</a>
        <a class="btn btn-primary btn-sm-2" onclick="return confirm('Czy na pewno chcesz usunąć wpis?')" href="{{path('admin_delete',{'id':client.id})}}">Usuń</a>
      </td>
    </tr>
    {% endfor %}
    </tr>
  </tbody>
</table>
<br>
<a class="btn btn-secondary btn-sm-2" href="{{ path('home') }}">Powrót</a>
</div>
{% endblock %}