{% extends 'base.html.twig' %}

{% block title %}Panel administratora{% endblock %}

{% block body %}
<div class="container">
<h3>Panel administratora</h3>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nazwa</th>
      <th scope="col">Opcje</th>
    </tr>
  </thead>
  <tbody>
  {% for client in clients %}
    <tr>
      <td>{{ client.id }}</td>
      <td>{{ client.name }}</td>
      <td>
        <a href="{{path('admin_modify',{'id':client.id})}}">Modyfikuj</a>
        <a onclick="return confirm('Czy na pewno chcesz usunąć wpis?')" href="{{path('admin_delete',{'id':client.id})}}">Usuń</a>
      </td>
    </tr>
    {% endfor %}
    </tr>
  </tbody>
</table>
<br>
<a href="{{ path('home') }}">Powrót</a>
</div>
{% endblock %}